/* Importação da Fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Declaração de todas as variáveis globais */
:root {
    --body-background-color: #201b2c;
    --main-background-color: #2f2841;
    --main-color: #00ff88;
    --main-color-hover: #77ff88;
    --input-background-color: #514869;
    --placeholder-color: #f0ffff94;
    --shadow-color: #00000020;
    --green-shadow-color: #00ff8850;
    --button-text-color: #2b134b;
    --form-background-color: #2f2841;
    --error-color: #f84646;

    --title-weight: 200;
    --title-size: 2rem;
    --title-color: #fff;

    --second-title-weight: 400;

    --paragraph-weight: 400;
    --paragraph-size: 16px;
    --paragraph-color: #f0ffffde;
    --paragraph-text-indent: 25px;
    
    --border-radius: 10px;
    --image-border-radius: 15px;

    --notify-error-color: #f8464690;
    --success-error-color: #00ff8890;
}

/* Estilização universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--body-background-color);
    max-width: 1500px;
    height: 100%;
    margin: auto;
}

main {
    width: 100%;
    min-height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--input-background-color);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: var(--border-radius);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color-hover);
}

@media screen and (max-width:767px) {
    main {
        flex-direction: column;
    }
}