main {
    max-width: 1400px;
    margin: 20px auto;
    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

legend {
    font-size: var(--title-size);
    color: var(--main-color);
    font-weight: 500;
}

label {
    color: var(--paragraph-color);
    font-size: 1.3rem;
}

.create-event-input, .register-admin-input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--input-background-color);
    color: var(--paragraph-color);
    box-shadow: 0 10px 10px var(--shadow-color);
    resize: none;
    font-size: 1.1rem;
}

.create-event-input::placeholder {
    color: var(--placeholder-color);
}

input[type="submit"] {
    width: 100%;
    padding: 16px 0;
    margin: 25px 0;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--button-text-color);
    background-color: var(--main-color);
    cursor: pointer;
    box-shadow: 0 10px 10px -12px var(--green-shadow-color);
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--main-color-hover);
}

.cancel-event, .cancel-edit, .cancel-admin {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--error-color);
    outline: none;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: var(--error-color);
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 10px 10px -12px var(--shadow-color);
    transition: all 0.3s ease;
}

.cancel-event:hover, .cancel-edit:hover, .cancel-admin:hover {
    background-color: var(--error-color);
    color: var(--paragraph-color);
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    main {
        width: 90%;
    }
}

@media screen and (min-width:767px) and (max-width:1023px) {
    main {
        width: 90%;
    }
}

@media screen and (max-width:767px) {
    main {
        width: 90%;
    }
}