#contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.contact-title {
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: -50px;
}

.contact-link {
    color: var(--paragraph-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

.contact-link:hover {
    color: var(--main-color-hover);
}

.social-media-section {
    display: flex;
    text-align: center;
    gap: 30px;
}

.social-media-section .bx {
    font-size: 2.5rem;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.social-media-section .bx:hover {
    color: var(--main-color-hover);
    transform: scale(1.3);
}

#about-page {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
}

.about-title {
    color: var(--main-color);
    font-weight: 500;
}

.about-paragraph {
    color: var(--paragraph-color);
    text-indent: var(--paragraph-text-indent);
}