#event-info-page {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
}

.back-button {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--paragraph-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

.back-button:hover {
    color: var(--main-color);
}

.event-banner {
    width: 100%;
    border-radius: var(--image-border-radius);
    box-shadow: 0 10px 10px var(--shadow-color);
    margin-bottom: 30px;
}

.event-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.event-name {
    color: var(--main-color);
    font-size: var(--title-size);
    font-weight: 500;
}

.event-info-title {
    font-size: 1.5rem;
    margin: 20px 0;
    color: var(--title-color);
    font-weight: var(--second-title-weight);
}

.event-info {
    text-indent: var(--paragraph-text-indent);
    color: var(--paragraph-color);
}

#event-info-page-section > ul    {
    margin: 0 20px;
    color: var(--paragraph-color);
}

.redirect-confirm-page {
    display: block;
    margin-top: 30px;
    width: 100%;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--button-text-color);
    padding: 16px;
    box-shadow: 0 10px 10px var(--green-shadow-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.redirect-confirm-page:hover {
    background-color: var(--main-color-hover);
}

#event-info-page-aside {
    min-width: fit-content;
    background-color: var(--input-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0 10px 10px var(--shadow-color);
}

#event-info-page-aside > hr {
    border: 1px solid var(--paragraph-color);
    opacity: 0.2;
}

.event-aside-title {
    color: var(--main-color);
}

.event-aside-info {
    color: var(--paragraph-color);
}

.event-aside-ticket::before {
    content: "R$ ";
}

.event-aside-hour::after {
    content: " horas";
}

@media screen and (max-width:1023px) {
    .event-content {
        flex-direction: column;
    }
}