#event-info-page {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
}

.back-button {
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--paragraph-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

.back-button:hover {
    color: var(--main-color);
}

.event-banner {
    width: 100%;
    border-radius: var(--image-border-radius);
    box-shadow: 0 10px 10px var(--shadow-color);
    margin-bottom: 30px;
}

.event-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

#event-info-page-section {
    width: 100%;
}

.event-name {
    color: var(--main-color);
    font-size: var(--title-size);
    font-weight: 500;
}

.event-info-title {
    font-size: 1.5rem;
    margin: 20px 0;
    color: var(--title-color);
    font-weight: var(--second-title-weight);
}

.event-info {
    text-indent: var(--paragraph-text-indent);
    color: var(--paragraph-color);
}

#event-info-page-section > ul    {
    margin: 0 20px;
    color: var(--paragraph-color);
}

.redirect-confirm-page {
    display: block;
    margin-top: 30px;
    width: 100%;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--button-text-color);
    padding: 16px;
    box-shadow: 0 10px 10px var(--green-shadow-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.redirect-confirm-page:hover {
    background-color: var(--main-color-hover);
}

#event-info-page-aside {
    min-width: fit-content;
    height: fit-content;
    background-color: var(--input-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0 10px 10px var(--shadow-color);
}

#event-info-page-aside > hr {
    border: 1px solid var(--paragraph-color);
    opacity: 0.2;
}

.event-aside-title {
    color: var(--main-color);
}

.event-aside-info {
    color: var(--paragraph-color);
}

.event-aside-ticket::before {
    content: "R$ ";
}

.event-aside-hour::after {
    content: " horas";
}

.report-event {
    width: 100%;
    height: 60px;
    border: 2px solid var(--error-color);
    border-radius: 10px;
    background-color: transparent;
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--error-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.report-event:hover {
    background-color: var(--error-color);
    color: var(--input-background-color);
}

.report-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #00000090;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-info {
    width: 400px;
    border: none;
    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 10px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.modal-title {
    font-size: 1.35rem;
    color: var(--main-color);
    font-weight: 400;
}

label {
    color: var(--paragraph-color);
}

.modal-input {
    width: 100%;
    background-color: var(--input-background-color);
    border-radius: var(--border-radius);
    padding: 16px;
    color: var(--paragraph-color);
    box-shadow: 0 10px 10px var(--shadow-color);
}
.modal-input:focus {
    border: 1px solid var(--main-color);
}

input[type="submit"] {
    width: 100%;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: 500;
    color: var(--button-text-color);
    text-align: center;
    text-decoration: none;
    padding: 16px;
    box-shadow: 0 10px 10px -12px var(--green-shadow-color);
    cursor: pointer;
    transition: all 0.3s ease; 
}

input[type="submit"]:hover {
    background-color: var(--main-color-hover);
}

.cancel {
    width: 100%;
    border: 2px solid var(--error-color);
    background-color: transparent;
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--error-color);
    padding: 16px;
    box-shadow: 0 10px 10px -12px var(--shadow-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.cancel:hover {
    background-color: var(--error-color);
    color: var(--paragraph-color);
}

@media screen and (max-width:1023px) {
    .event-content {
        flex-direction: column;
    }
}