#event-feed-page {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
}

.event-card {
    width: 400px;
    background-color: var(--input-background-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

.card-image {
    width: 100%;
    max-height: 222px;
    border-radius: var(--image-border-radius);
    box-shadow: 0 10px 10px var(--shadow-color);
}

.card-name {
    color: var(--main-color);
    font-weight: 500;
}

.card-desc {
    color: var(--paragraph-color);
    text-indent: var(--paragraph-text-indent);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; 
}

.card-date, .card-hour {
    color: var(--paragraph-color);
}

.card-date::before {
    content: "Data: ";
    color: var(--main-color);
}

.card-hour::before {
    content: "Início: ";
    color: var(--main-color);
}

.card-hour::after {
    content: " horas";
}

.card-button {
    width: 100%;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--button-text-color);
    padding: 16px;
    box-shadow: 0 10px 10px var(--green-shadow-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.card-button:hover {
    background-color: var(--main-color-hover);
}