main {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    padding: 30px;
}

.back-button {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--paragraph-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

.back-button:hover {
    color: var(--main-color);
}

.event-banner {
    width: 100%;
    max-width: 350px;
    border-radius: var(--image-border-radius);
    box-shadow: 0 10px 10px var(--shadow-color);
    margin: 20px auto;
    margin-bottom: 30px;
}

.event-content {
    width: 100%;
    display: flex;
}

.event-name {
    color: var(--main-color);
    font-size: var(--title-size);
    margin-bottom: 30px;
}

aside {
    width: 25%;
    /* max-height: 1050px; */
    background-color: var(--input-background-color);
    padding: 20px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 10px var(--shadow-color);
    overflow-x: hidden;
}

aside > hr {
    opacity: 0.2;
    margin: 10px 0;
}

.event-aside-title {
    color: var(--main-color);
}

.event-aside-info {
    color: var(--paragraph-color);
}

.event-aside-ticket::before {
    content: "R$ ";
}

.event-aside-hour::after {
    content: " horas";
}

.redirect-button {
    width: 100%;
    padding: 16px 0;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--button-text-color);
    background-color: var(--main-color);
    cursor: pointer;
    box-shadow: 0 10px 10px -12px var(--green-shadow-color);
    transition: all 0.3s ease;
}

.redirect-button:hover {
    background-color: var(--main-color-hover);
}

section {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.manage-event-title {
    color: var(--main-color);
    margin-bottom: 10px;
}

.event-admins {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.admin-profile-image {
    width: 8%;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    padding: 5px;
    margin: 5px 10px;
}

.table-info {
    color: var(--main-color);
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px;
    border: 1px solid var(--paragraph-color);
}

td {
    color: var(--paragraph-color);
    padding: 10px;
    border: 1px solid var(--paragraph-color);
    font-weight: 300;
}

#exportTable {
    padding: 16px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--button-text-color);
    background-color: var(--main-color);
    cursor: pointer;
    box-shadow: 0 10px 10px -12px var(--green-shadow-color);
    transition: all 0.3s ease;
}

#exportTable:hover {
    background-color: var(--main-color-hover);
}

.delete-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #00000090;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-info {
    width: 400px;
    min-height: 400px;
    border: none;
    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 10px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.modal-title {
    font-size: 1.35rem;
    color: var(--main-color);
    font-weight: 400;
}

.modal-paragraph {
    color: var(--paragraph-color);
    width: 80%;
}

.modal-input {
    width: 90%;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--input-background-color);
    color: var(--paragraph-color);
    box-shadow: 0 10px 10px var(--shadow-color);
}

.cancel-delete {
    width: 90%;
    padding: 16px;
    margin: 10px 0;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--button-text-color);
    background-color: var(--main-color);
    cursor: pointer;
    box-shadow: 0 10px 10px -12px var(--green-shadow-color);
    transition: all 0.3s ease;
}

.cancel-delete:hover {
    background-color: var(--main-color-hover);
}

.delete-event-modal {
    width: 90%;
    padding: 10px;
    border: 2px solid var(--error-color);
    outline: none;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: var(--error-color);
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 10px 10px -12px var(--shadow-color);
    transition: all 0.3s ease;
}

.delete-event-modal:hover {
    background-color: var(--error-color);
    color: var(--paragraph-color);
}

.delete-event {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--error-color);
    outline: none;
    border-radius: var(--border-radius);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: var(--error-color);
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0 10px 10px -12px var(--shadow-color);
    transition: all 0.3s ease;
}

.delete-event:hover {
    background-color: var(--error-color);
    color: var(--paragraph-color);
}

@media screen and (min-width:1024px) and (max-width:1439px) {
    main {
        width: 90%;
    }

    .event-content {
        flex-direction: column;
    }

    aside {
        width: 100%;
        max-height: none;
        margin-bottom: 10px;
    }

    section {
        width: 100%;
    }

    .event-admins {
        width: 100%;
    }

    .admin-profile-image {
        width: 15%;
    }

    .table {
        width: 100%;
    }

    table {
        margin: auto;
    }

    td {
        white-space: nowrap;
    }
}

@media screen and (min-width:767px) and (max-width:1023px) {
    main {
        width: 90%;
    }

    .event-content {
        flex-direction: column;
    }

    aside {
        width: 100%;
        max-height: none;
        margin-bottom: 10px;
    }

    section {
        width: 100%;
    }

    .event-admins {
        width: 100%;
    }

    .admin-profile-image {
        width: 15%;
    }

    .table {
        width: 100%;
    }

    table {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 1.2rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        margin: 20px 0;
    }

    td {
        white-space: nowrap;
    }
}

@media screen and (max-width:767px) {
    main {
        width: 90%;
    }

    .event-content {
        flex-direction: column;
    }

    aside {
        width: 100%;
        max-height: none;
        margin-bottom: 10px;
    }

    section {
        width: 100%;
    }

    .event-admins {
        width: 100%;
    }

    .admin-profile-image {
        width: 20%;
    }

    .table {
        width: 100%;
    }

    table {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 1.2rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        margin: 20px 0;
    }

    td {
        white-space: nowrap;
    }
}