#profile-page {
    width: 90%;
    display: flex;
    align-items: flex-start;
    gap: 80px;
    background-color: var(--main-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
}

#profile-page > aside {
    min-width: fit-content;
    background-color: var(--input-background-color);
    border-radius: var(--border-radius);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0 10px 10px var(--shadow-color);
}

.profile-image {
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
    border: 2px solid var(--main-color);
    padding: 10px;
}

.user-name {
    color: var(--title-color);
    font-weight: 400;
}

.user-info {
    color: var(--paragraph-color);
    margin: 10px 0;
}

.user-info:last-child {
    margin-bottom: 30px;
}

.profile-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.edit-profile {
    width: 50%;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--button-text-color);
    padding: 16px;
    box-shadow: 0 10px 10px var(--green-shadow-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.edit-profile:hover {
    background-color: var(--main-color-hover);
}

.disconnect-profile {
    width: 50%;
    border: 2px solid var(--error-color);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--error-color);
    padding: 16px;
    box-shadow: 0 10px 10px -12px var(--shadow-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.disconnect-profile:hover {
    background-color: var(--error-color);
    color: var(--paragraph-color);
}

.profile-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    color: var(--main-color);
    font-size: 1.7rem;
    font-weight: 500;
}

.user-events {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.event-create {
    width: 400px;
    height: 420px;
    background-color: var(--input-background-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    color: var(--paragraph-color);
    text-decoration: none;
}

.event-create:hover {
    opacity: 0.7;
}

.event-create:hover .bx-plus {
    color: var(--main-color);
}

.event-create:hover .create-event-span {
    color: var(--main-color);
}

.bx-plus {
    font-size: 100px;
    transition: all 0.3s ease;
}

.create-event-span {
    font-size: 1.4rem;
    transition: all 0.3s ease;
}

.event-card {
    width: 400px;
    height: 420px;
    background-color: var(--input-background-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
}

.event-banner {
    width: 100%;
    max-width: 500px;
    height: 222px;
    border-radius: var(--image-border-radius);
    object-fit: cover;
}

.event-name {
    color: var(--title-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.manage-event-button {
    width: 100%;
    background-color: var(--main-color);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--button-text-color);
    padding: 16px;
    box-shadow: 0 10px 10px var(--green-shadow-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.manage-event-button:hover {
    background-color: var(--main-color-hover);
}

@media screen and (max-width:1023px) {
    #profile-page {
        flex-direction: column;
        align-items: center;
    }

    .user-events {
        justify-content: center;
    }

    .event-card, .event-create {
        width: 100%;
    }

    .event-banner {
        margin: auto;
    }
}